Repository boostcampwm2023/iOS06-FlipMate, pull requests merged in 2023-12, with the labels that each got.

#290 [iOS#289] 소셜 화면 친구 상태 비즈니스 로직 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Application/DIContainer/SocialDIContainer.swift
  iOS/FlipMate/FlipMate/Common/UserDefault/UserDefault.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/SocialScene/FriendsResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/SocialScene/UserProfileResposeDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/SignUpEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Network/SocialEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultFriendRepository.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultSocialRepository.swift
  iOS/FlipMate/FlipMate/Domain/Entities/Friend.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/FriendRepository.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/SocialRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultFriendUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultSocialUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/FriendUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/SocialUseCase.swift
  iOS/FlipMate/FlipMate/PersistenceService/UserInfoStorage.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/SignUpViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/Model/FriendSearchItem.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/Model/FriendUser.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/FriendSearchResultView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/FriendsCollectionViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/FriendAddViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/FriendAddViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TabBar/Flows/TabBarFlowCoordinator.swift
  iOS/FlipMate/FlipMateUseCaseTests/Mock/MockFriendRepository.swift
  iOS/FlipMate/FlipMateViewModelTests/Mock/MockFriendUseCase.swift
Labels: iOS, 💎 Feature

#293 [iOS#hotfix] 공부시간 Label 이슈 수정
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
Labels: iOS, 🐞 Bug

#292 [iOS#hotfix]FriendsResponseDTO 수정
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/SocialScene/FriendsResponseDTO.swift
Labels: iOS, 🐞 Bug

#306 [BE#212] mates 서비스에 대한 테스트 코드 작성
  BE/src/mates/mates.service.spec.ts
  BE/src/mates/mates.service.ts
  BE/src/study-logs/study-logs.service.ts
  BE/test/mock-repo/mock-categories-repo.ts
  BE/test/mock-repo/mock-mates-repo.ts
  BE/test/mock-repo/mock-user-repo.ts
  BE/test/mock-service/mock-redis-service.ts
  BE/test/mock-service/mock-study-logs-service.ts
  BE/test/mock-service/mock-user-service.ts
  BE/test/mock-table/categories.json
  BE/test/mock-table/study-logs.json
  BE/test/mock-table/users.json
Labels: BE, 🧨 Test

#307 [BE#296] config분리 및 ENV const로 이동
  BE/src/app.module.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/common/config/jwt.config.ts
  BE/src/common/config/logging.config.ts
  BE/src/common/config/multer.config.ts
  BE/src/common/config/static.config.ts
  BE/src/common/config/swagger.config.ts
  BE/src/common/config/typeorm.config.ts
  BE/src/common/const/env-keys.const.ts
  BE/src/common/exception-filter/http-exception-filter.ts
  BE/src/common/interceptor/logging.interceptor.ts
  BE/src/common/middleware/logging.middleware.ts
  BE/src/common/utils/utils.ts
  BE/src/main.ts
  BE/src/mates/mates.service.ts
  BE/src/study-logs/study-logs.service.ts
  BE/src/users/users.service.ts
  BE/test/app.e2e-spec.ts
Labels: BE, 🛠️ Refactor

#310 [BE#308] 일간 통계 기능 구현
  BE/src/study-logs/dto/response/daily-stat.dto.ts
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 💎 Feature

#317 [BE#314] 카테고리, 친구 추가 최대 수 제한
  BE/src/categories/categories.service.spec.ts
  BE/src/categories/categories.service.ts
  BE/src/mates/mates.service.spec.ts
  BE/src/mates/mates.service.ts
Labels: BE, 🐞 Bug

#318 [iOS/#299] 소셜 상세 화면 완료
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/SocialChartView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialDetailViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialDetailViewModel.swift
Labels: iOS, 💎 Feature, 🛠️ Refactor

#325 [iOS/#300] 통계 탭 UI 및 Domain & Data Layer 구성
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Network/BaseComponents.swift
  iOS/FlipMate/FlipMate/Data/Network/ChartEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/ChartScene/DailyChartLogResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultChartRepository.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultGoogleAuthRepository.swift
  iOS/FlipMate/FlipMate/Domain/Entities/StudyLog.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/ChartRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultChartUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/ChartUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/ChartSegmentedControl.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/DailyChartView.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/WeeklyChartView.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/ViewController/ChartViewController.swift
Labels: iOS, 💎 Feature

#322 [iOS#309] 화면 밝기 조절 기능 제거
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
Labels: iOS, 🐞 Bug

#323 [iOS#312] 카테고리 뷰 네비게이션 타이틀 추가
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
Labels: iOS, 💎 Feature

#333 [BE#330] 성능테스트 환경 구축
  BE/.gitignore
  BE/src/admin/admin.controller.spec.ts
  BE/src/admin/admin.controller.ts
  BE/src/admin/admin.module.ts
  BE/src/app.module.ts
  BE/src/auth/auth.service.ts
  BE/src/categories/categories.service.ts
  BE/src/common/const/service-var.const.ts
  BE/src/common/interceptor/logging.interceptor.ts
  BE/src/common/middleware/logging.middleware.ts
  BE/src/common/redis.service.ts
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.module.ts
  BE/src/mates/mates.service.ts
  BE/src/study-logs/study-logs.service.spec.ts
  BE/src/study-logs/study-logs.service.ts
  BE/test/load-performance/loadtest-categories.js
  BE/test/load-performance/loadtest-study.js
  BE/test/load-performance/loadtest.js
Labels: BE, 🧨 Test

#324 [iOS#302]공부 종료 화면에서 타이머 작동되던 이슈 해결
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 🛠️ Refactor

#338 [BE#336] weekly-stats에 @ApiBearerAuth()추가
  BE/src/auth/auth.controller.ts
  BE/src/categories/categories.controller.ts
  BE/src/common/response.dto.ts
  BE/src/mates/mates.service.ts
  BE/src/study-logs/dto/response/today-logs.dto.ts
  BE/src/study-logs/dto/response/weekly-stats.dto.ts
  BE/src/study-logs/study-logs.controller.ts
Labels: BE, 🐞 Bug

#337 [iOS/#313] 네비게이션 바 색상 통일
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/SignUpViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
Labels: iOS, 💎 Feature

#339 [iOS#305] 친구 상태 CollectionView refresh 기능 추가
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialViewModel.swift
Labels: iOS, 💎 Feature

#342 [iOS/hotfix] 컨플릭 누락 사항 수정
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
Labels: iOS, 🐞 Bug

#346 [iOS#hotfix] 디바이스 로그인 버그 수정
  iOS/FlipMate/FlipMate/NetworkService/Provider.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/LoginViewModel.swift
Labels: iOS, 🐞 Bug

#341 [BE#332] 소셜 기능 k6 부하 테스트 코드 작성
  BE/package-lock.json
  BE/package.json
  BE/test/load-performance/loadtest-social.js
  BE/test/load-performance/loadtest-study.js
Labels: BE, 🧨 Test

#356 [BE#348] stats의 부하테스트 작성
  BE/test/load-performance/loadtest-social.js
  BE/test/load-performance/loadtest-stats.js
Labels: BE, 🧨 Test

#359 [BE#358] 유저 관련 에러 세분화
  BE/src/auth/auth.controller.ts
  BE/src/common/config/multer.config.ts
  BE/src/common/exception-filter/http-exception-filter.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#347 [iOS/#345] 소셜 상세 화면 수정
  iOS/FlipMate/FlipMate/Presentation/SocialScene/Flow/SocialFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/SocialChartView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialDetailViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialDetailViewModel.swift
Labels: iOS, 🛠️ Refactor

#355 [iOS#349] 마이페이지 닉네임, 프로필 사진 수정 로직 수정
  iOS/FlipMate/FlipMate/Common/UserDefault/UserDefault.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/MyPageViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/ProfileSettingsViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewModel/MyPageViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewModel/ProfileSettingsViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialViewModel.swift
Labels: iOS, 💎 Feature, 🛠️ Refactor

#360 [iOS/#343] 주간 학습 통계 페이지 로직 연결
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/WeeklyChartView.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/ViewModel/ChartViewModel.swift
Labels: iOS, 💎 Feature

#361 [iOS#hotfix] 공부 저장 후 디바이스 뒤집을 시 타이머 작동안하던 버그 수정
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerFinishViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
Labels: iOS, 🐞 Bug

#364 [iOS/#321] 이미지 유해성 검사 기능 구현
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/StatusResponseWithErrorDTO.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultProfileSettingsRepository.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/ProfileSettingsRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultProfileSettingsUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/ProfileSettingsUseCase.swift
  iOS/FlipMate/FlipMate/NetworkService/Provider.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/SignUpViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/SignUpViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/ProfileSettingsViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewModel/ProfileSettingsViewModel.swift
Labels: iOS, 💎 Feature

#368 [iOS#hotifx] 친구 언팔로우하면 dismiss 안되던 버그 수정
  iOS/FlipMate/FlipMate/Presentation/ChartScene/ViewController/ChartViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/Flow/SocialFlowCoordinator.swift
Labels: iOS, 🐞 Bug

#371 [iOS/#369] Timezone 동기화 및 Timer bug fix
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/Date++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/FriendStatusPollingManager/FriendStatusPollingManager.swift
Labels: iOS, 💎 Feature, 🐞 Bug

#362 [BE#215] users 테스트 코드 작성
  BE/src/mates/mates.service.spec.ts
  BE/src/users/users.service.spec.ts
  BE/test/mock-repo/mock-mates-repo.ts
  BE/test/mock-service/mock-config-service.ts
  BE/test/mock-table/users.json
Labels: BE, 🧨 Test

#375 [iOS/#372] Chart scrollView 추가
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/CustomCalenderView.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/DailyChartView.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/WeeklyChartView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/SocialChartView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialDetailViewController.swift
Labels: iOS, 💎 Feature

#377 [iOS/#376] 타이머 아니오 버튼 로직
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerFinishViewModel.swift
Labels: iOS, 🐞 Bug

#379 [iOS#378] 소셜 화면 총 공부시간 동기화
  iOS/FlipMate/FlipMate/PersistenceService/UserInfoStorage.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 💎 Feature

#387 [iOS/hotfix] 배포전 버그 수정
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/SignUpViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/Flow/MyPageFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/ProfileSettingsViewController.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/FeedbackManager/FeedbackManager.swift
Labels: iOS, 🐞 Bug

#406 [iOS#303] 선택된 카테고리 다시 선택 시 해제되도록 수정
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 💎 Feature, 🛠️ Refactor

#407 [iOS#396] 사용자 정보 UserDefault에서 UserInfoManager로 관리
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Application/DIContainer/AppDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/LoginDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/MyPageDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/SocialDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TabBarDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TimerSceneDIContainer.swift
  iOS/FlipMate/FlipMate/PersistenceService/UserInfoStorage.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/SocialUserInfoHeaderView.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/SignUpViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/View/MyPageHeaderView.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewModel/MyPageViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewModel/ProfileSettingsViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/FriendAddViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/SignOutManager.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/UserInfoManager/UserInfoManager.swift
Labels: iOS, 🛠️ Refactor

#405 [iOS#351] 친구 추가 시 예외 처리
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/NetworkService/NetworkError.swift
  iOS/FlipMate/FlipMate/NetworkService/Provider.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/FriendAddViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/FriendAddViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/UIViewController++Extension.swift
Labels: iOS, 💎 Feature

#408 [iOS#392] 닉네임 2글자 이하시 버튼 비활성화
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/SignUpViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/View/DoneButton.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/ProfileSettingsViewController.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/NickNameValidator/NickNameValidator.swift
Labels: iOS, 🛠️ Refactor

#409 [iOS/#393] 하단 설명 이미지 다크모드 대응 추가
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 257@1x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 257@2x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 257@3x.png
Labels: iOS, 🐞 Bug

#411 [iOS/#410] 타이머 종료 화면 개선
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerFinishViewController.swift
Labels: iOS, 🛠️ Refactor

#413 [iOS/#412] 당장 쓰지 않는 버튼 숨기기
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
Labels: iOS, 🐞 Bug

#414 [iOS#373] 영어, 일본어, 한국어 다국어 지원
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/DailyChartView.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/WeeklyChartView.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/ViewController/ChartViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/Model/LoginType.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/SignUpViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/SignUpViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/View/DoneButton.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/MyPageViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/ProfileSettingsViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewModel/MyPageViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/FriendSearchResultView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/MyNickNameView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/NoResultView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/SocialChartView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/FriendAddViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialDetailViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialDetailViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategorySettingFooterView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategoryModifyViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerFinishViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 💎 Feature

#417 [iOS] 배포 전 핫픽스
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/SocialChartView.swift
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 🐞 Bug

#426 [iOS#422] 마이페이지 데이터초기화 및 문의하기 삭제
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/MyPageViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewModel/MyPageViewModel.swift
Labels: iOS, 💎 Feature

#430 [iOS#403] TimerManager 추상화 및 의존성 관리
  iOS/FlipMate/FlipMate/Application/DIContainer/SocialDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TimerSceneDIContainer.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/FriendStatusPollingManager/FriendStatusPollingManager.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/TimerManager/TimerManager.swift
Labels: iOS, 🛠️ Refactor

#432 [iOS#431] 다국어 지원 미흡한 부분 처리
  iOS/FlipMate/FlipMate/Presentation/ChartScene/ViewController/ChartViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/MyPageViewController.swift
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 🛠️ Refactor

#435 [iOS#433] 카테고리 10개인 경우 추가 버튼 처리
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Model/CategorySettingSection.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategorySettingFooterView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/CategoryViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/CategoryManager/CategoryManager.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Protocols/CategoryManagable.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 🛠️ Refactor

#437 [iOS#436] 다크모드일 때 스크롤시 탭바 색상 변하는 이슈 해결
  iOS/FlipMate/FlipMate/Presentation/TabBar/ViewController/TabBarViewController.swift
Labels: iOS, 🛠️ Refactor

#428 [iOS/#425] 차트 페이지 UI 개선
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultChartUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/DailyChartView.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 🐞 Bug

#444 [iOS#394] 자정이 넘어간 경우 타이머 당일로 화면 바뀌도록 수정
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Flows/TimerFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerFinishViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/UserInfoManager/UserInfoManager.swift
Labels: iOS, 💎 Feature

#443 [iOS/#422] UI 1차 개선
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Common/Font/FlipMateFont.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/View/MyPageHeaderView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/FriendsCollectionViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/SocialUserInfoHeaderView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialDetailViewController.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 🐞 Bug, 🛠️ Refactor

#446 [BE#441] 친구 검색기능 상태코드
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.service.spec.ts
  BE/src/mates/mates.service.ts
  BE/test/mock-table/users.json
Labels: BE, 💎 Feature

#450 [BE#449] 애플 로그인 구현
  BE/src/admin/admin.controller.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/guard/bearer-token.guard.ts
  BE/src/common/config/typeorm.config.ts
  BE/src/users/entity/users.entity.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#448 [BE#439] fix: 소셜 화면 타임존 이슈 해결
  BE/src/auth/auth.controller.ts
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.service.ts
  BE/src/users/entity/users.entity.ts
  BE/src/users/users.service.ts
Labels: BE, 🐞 Bug

#454 [BE#453] auth type null문제, GET요청에 body를 query로
  BE/src/auth/google.strategy.ts
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.service.ts
Labels: BE, 🐞 Bug

#460 [BE#459] 친구 상세화면 친구의 주간 학습 카테고리 1위
  BE/src/mates/mates.service.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 💎 Feature

#461 [iOS/#425] 통계 페이지 기능 추가 및 수정
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/DailyChartView.swift
Labels: iOS, 💎 Feature, 🛠️ Refactor

#462 [iOS/#434] DatePicker 오늘 날짜로 스크롤 되게 수정
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/CustomCalenderView.swift
Labels: iOS, 🛠️ Refactor

#458 [iOS#447] 사용자 및 사용자간 TimeZone 대응
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Application/DIContainer/TabBarDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TimerSceneDIContainer.swift
  iOS/FlipMate/FlipMate/Data/Network/BaseComponents.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimeZoneRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/SignUpEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Network/SocialEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Network/UserInfoEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultTimerRepository.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultUserInfoRepository.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/UserInfoRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultTimeZoneUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/TimeZoneUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TabBar/Flows/TabBarFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TabBar/ViewController/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/Date++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/FriendStatusPollingManager/FriendStatusPollingManager.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 💎 Feature

#457 [iOS#451] 친구 검색 로직 수정
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/SocialScene/UserProfileResposeDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/FriendEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultFriendRepository.swift
  iOS/FlipMate/FlipMate/Domain/Entities/FriendSearchResult.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/FriendRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultFriendUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/FriendUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/Model/FriendSearchItem.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/FriendSearchResultView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/FriendAddViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/FriendAddViewModel.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 💎 Feature

#463 [BE#459] 카테고리 없는 경우 / 기타가 가장 많은 경우 구분
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 🐞 Bug

#469 [BE#468] user 삭제 api
  BE/src/auth/auth.controller.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#467 [ALL] README 3차 업데이트
  README.md
Labels: ⚙️ Setting
