Repository boostcampwm2023/iOS06-FlipMate, pull requests merged in 2023-11, with the labels that each got.

#6 [ALL#5] 프로젝트 폴더 분리
  BE/.gitignore
  iOS/.gitignore
Labels: ⚙️ Setting

#9 [iOS#7] iOS 프로젝트 .gitignore 설정
  iOS/.gitignore
Labels: iOS, ⚙️ Setting

#12 [iOS#10] iOS 프로젝트 초기 설정
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/FlipMate/FlipMate.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/FlipMate/FlipMate/Application/AppDelegate.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/.gitkeep
  iOS/FlipMate/FlipMate/Application/SceneDelegate.swift
  iOS/FlipMate/FlipMate/Common/.gitkeep
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/.gitkeep
  iOS/FlipMate/FlipMate/Data/Persistants/.gitkeep
  iOS/FlipMate/FlipMate/Data/Repositories/Utils/.gitkeep
  iOS/FlipMate/FlipMate/Domain/Entities/.gitkeep
  iOS/FlipMate/FlipMate/Domain/Repositories/.gitkeep
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/.gitkeep
  iOS/FlipMate/FlipMate/Presentation/ChartScene/.gitkeep
  iOS/FlipMate/FlipMate/Presentation/LoginScene/.gitkeep
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/.gitkeep
  iOS/FlipMate/FlipMate/Presentation/SocialScene/.gitkeep
  iOS/FlipMate/FlipMate/Presentation/Splash/.gitkeep
  iOS/FlipMate/FlipMate/Presentation/Splash/ViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/.gitkeep
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/.gitkeep
  iOS/FlipMate/FlipMate/Presentation/Utils/Protocols/.gitkeep
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/Contents.json
  iOS/FlipMate/FlipMate/Resources/Base.lproj/LaunchScreen.storyboard
  iOS/FlipMate/FlipMate/Resources/Info.plist
  iOS/FlipMate/FlipMateTests/FlipMateTests.swift
  iOS/FlipMate/FlipMateUITests/FlipMateUITests.swift
  iOS/FlipMate/FlipMateUITests/FlipMateUITestsLaunchTests.swift
Labels: iOS, ⚙️ Setting

#13 [BE#8] NestJS 초기 개발환경 구성
  BE/.eslintrc.js
  BE/.gitignore
  BE/.prettierrc
  BE/nest-cli.json
  BE/package-lock.json
  BE/package.json
  BE/src/app.controller.spec.ts
  BE/src/app.controller.ts
  BE/src/app.module.ts
  BE/src/app.service.ts
  BE/src/main.ts
  BE/test/app.e2e-spec.ts
  BE/test/jest-e2e.json
  BE/tsconfig.build.json
  BE/tsconfig.json
Labels: BE, ⚙️ Setting

#15 [iOS#14] SwiftLint 설치
  iOS/.gitignore
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate.xcworkspace/contents.xcworkspacedata
  iOS/FlipMate/FlipMate.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/FlipMate/Podfile
  iOS/FlipMate/Podfile.lock
Labels: iOS, ⚙️ Setting

#34 [ALL] README 업데이트
  README.md
Labels: iOS, BE

#35 [iOS#16] 프로젝트 번들 이름 수정
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
Labels: iOS, ⚙️ Setting

#37 [iOS#36] FlipMate 이미지 에셋 추가
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_Dark_icon.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_Dark_icon.imageset/FlipMate_Dark_icon.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_Dark_icon.imageset/FlipMate_Dark_icon@2x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_Dark_icon.imageset/FlipMate_Dark_icon@3x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_icon.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_icon.imageset/FlipMate_icon.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_icon.imageset/FlipMate_icon@2x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_icon.imageset/FlipMate_icon@3x.png
Labels: iOS, ⚙️ Setting

#38 [iOS#32] LaunchScreen UI 구현
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_Dark_icon.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_icon.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_icon.imageset/FlipMate_Dark_icon.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_icon.imageset/FlipMate_Dark_icon@2x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FlipMate_icon.imageset/FlipMate_Dark_icon@3x.png
  iOS/FlipMate/FlipMate/Resources/Base.lproj/LaunchScreen.storyboard
Labels: iOS, 💎 Feature, ⚙️ Setting

#39 [iOS#29] 로그인 UI 구현
  iOS/FlipMate/FlipMate/Application/SceneDelegate.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/Model/LoginType.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
Labels: iOS, 💎 Feature

#41 [iOS#31] Custom Tab Bar 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
Labels: iOS, 💎 Feature

#42 [iOS#40] Color & Font & BaseViewController 추가
  iOS/FlipMate/FlipMate/Common/Base/BaseViewController.swift
  iOS/FlipMate/FlipMate/Common/Color/FlipMateColor.swift
  iOS/FlipMate/FlipMate/Common/Font/FlipMateFont.swift
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/DarkBlue.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/Gray1.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/Gray2.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/Gray3.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/Gray4.colorset/Contents.json
Labels: iOS, 💎 Feature, ⚙️ Setting

#46 [iOS#45] 비로그인 버튼 클릭시 화면 전환 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/ChartScene/ViewController/ChartViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
Labels: iOS, 💎 Feature

#51 [iOS#50] 로그인 화면 리팩토링
  iOS/FlipMate/FlipMate/Presentation/LoginScene/Model/LoginType.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
Labels: iOS, 🛠️ Refactor

#55 [iOS#54] 그림자 설정 메소드 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Extension/UIView++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
Labels: iOS, 💎 Feature

#58 [iOS#26] 타이머 ViewModel 작성 및 ViewController 연결
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Model/DeviceOrientation.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 💎 Feature

#56 [iOS#49] 타이머 뷰 피드백 반영
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
Labels: iOS, 🛠️ Refactor

#60 [iOS#fix] categoryManageButton 누락 부분 추가
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
Labels: iOS, 🐞 Bug

#65 [BE#63] TypeORM으로 DB 연동, DB 생성
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/study-logs/study-logs.controller.spec.ts
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.entity.ts
  BE/src/study-logs/study-logs.module.ts
  BE/src/study-logs/study-logs.service.spec.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 💎 Feature, ⚙️ Setting

#66 [iOS#61] 디바이스 face down시 햅틱 & 화면 끄기 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/FeedbackManager/FeedbackManager.swift
Labels: iOS, 💎 Feature

#73 [BE#22] 타이머 화면 컨트롤러 작성 및 API문서화
  BE/package-lock.json
  BE/package.json
  BE/src/main.ts
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.entity.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 💎 Feature

#74 [BE#27] mates 컨트롤러 작성 및 API문서화
  BE/src/app.module.ts
  BE/src/mates/mates.controller.spec.ts
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.module.ts
Labels: BE, 💎 Feature

#75 [BE#23]categories 컨트롤러 작성 및 API문서화
  BE/src/app.module.ts
  BE/src/categories/categories.controller.spec.ts
  BE/src/categories/categories.controller.ts
  BE/src/categories/categories.entity.ts
  BE/src/categories/categories.module.ts
  BE/src/categories/categories.service.spec.ts
  BE/src/categories/categories.service.ts
Labels: BE, 💎 Feature

#76 [BE#68] users 컨트롤러 작성 및 API 문서화
  BE/src/app.module.ts
  BE/src/users/users.controller.spec.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.entity.ts
  BE/src/users/users.module.ts
Labels: BE, 💎 Feature

#77 [BE#70] stats 컨트롤러 작성 및 API문서화
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.module.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 💎 Feature

#81 [iOS#80] CategoryListCollectionView 파일 생성
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryListCollectionViewCell.swift
Labels: iOS, 💎 Feature

#78 [iOS#72] CoreMotion으로 FaceDown 감지
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/MotionManager/DeviceMotionManager.swift
Labels: iOS, 💎 Feature

#86 [iOS#85] pbxproj 누락 해결
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
Labels: iOS, 🐞 Bug

#82 [iOS#79] CoreHaptics 프레임워크를 사용한 햅틱 피드백 개선
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/FaceDown.ahap
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/FeedbackManager/FeedbackManager.swift
Labels: iOS, 💎 Feature

#89 [iOS#88] pbxproj 수정
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
Labels: iOS, 🐞 Bug

#87 [iOS#83] SwiftLint 룰 변경
  iOS/FlipMate/.swiftlint.yml
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
Labels: iOS, ⚙️ Setting

#84 [iOS#28] 타이머 로직 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultTimerUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/TimerUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Protocols/Int++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/TimerManager/TimerManager.swift
Labels: iOS, 💎 Feature

#94 [iOS/#90] 공통 로거 작성
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Common/Constant/FlipMateConstant.swift
  iOS/FlipMate/FlipMate/Common/Logger/FlipMateLogger.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultTimerUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/FeedbackManager/FeedbackManager.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/TimerManager/TimerManager.swift
Labels: iOS, 💎 Feature, 🛠️ Refactor

#92 [iOS#91] FaceUp이 아닌 다른 Orientation일 때 faceupfeedback이 오는 것 수정
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
Labels: iOS, 🐞 Bug

#98 [iOS#64] 버튼 다크모드 대응
  iOS/FlipMate/FlipMate/Common/Font/FlipMateFont.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
Labels: iOS, 🐞 Bug

#102 [BE#21] google OAuth 로그인
  BE/src/app.module.ts
  BE/src/auth.controller.ts
  BE/src/auth/auth.controller.spec.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.spec.ts
  BE/src/auth/auth.service.ts
  BE/src/google.strategy.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.spec.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#104 [BE#103] package.json 안올린거 반영
  BE/package-lock.json
  BE/package.json
  BE/src/auth.controller.ts
Labels: BE, 🐞 Bug

#100 [iOS#97] category model 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Model/Category.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/CategoryViewModel.swift
Labels: iOS, 💎 Feature

#128 [BE#127] User Entity 재작성
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/auth/auth.service.ts
  BE/src/categories/categories.entity.ts
  BE/src/main.ts
  BE/src/study-logs/study-logs.entity.ts
  BE/src/users/const/auth-type.const.ts
  BE/src/users/entity/users.entity.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.entity.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.ts
Labels: BE, 🐞 Bug

#131 [BE#118] 카테고리 추가, 변경, 조회, 삭제
  BE/src/categories/categories.controller.ts
  BE/src/categories/categories.entity.ts
  BE/src/categories/categories.service.ts
  BE/src/categories/dto/request/create-categories.dto.ts
  BE/src/categories/dto/request/get-categories.dto.ts
  BE/src/categories/dto/request/update-categories.dto.ts
  BE/src/categories/dto/response/category.dto.ts
  BE/src/users/entity/users.entity.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#134 [BE#119] 학습 기록 추가, 조회, 삭제
  BE/src/categories/categories.entity.ts
  BE/src/study-logs/dto/request/create-study-logs.dto.ts
  BE/src/study-logs/dto/response/study-logs.dto.ts
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.entity.ts
  BE/src/study-logs/study-logs.service.ts
  BE/src/users/entity/users.entity.ts
Labels: BE, 💎 Feature

#135 [BE#121] 인가된 사용자인지 확인
  BE/package-lock.json
  BE/package.json
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/guard/bearer-token.guard.ts
  BE/src/main.ts
  BE/src/users/decorator/user.decorator.ts
  BE/src/users/dto/create-user.dto.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#129 [iOS#99] 탭바 다크모드 대응
  iOS/FlipMate/FlipMate/Common/Color/FlipMateColor.swift
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/TabBarColor.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/TabBarLayerColor.colorset/Contents.json
Labels: iOS, 🐞 Bug, 🛠️ Refactor

#132 [iOS#112] 카테고리 관리 화면 UI 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Model/CategorySettingSection.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategorySettingFooterView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/UICollectionReusableView++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/UICollectionView++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/UICollectionViewCell++Extension.swift
Labels: iOS, 💎 Feature

#106 [iOS/#95] Faceup 동작시 햅틱 피드백 작동 구현
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 💎 Feature

#126 [iOS#62] 타이머 뷰 컨트롤러 상수 처리
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
Labels: iOS, 🛠️ Refactor

#133 [iOS/#109] 닉네임 설정 뷰 UI 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/SignUpViewController.swift
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/Group 135.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/Group 135.imageset/Group 135.svg
Labels: iOS, 💎 Feature

#138 [iOS#137] 카테고리 관리 버튼 클릭 시 화면 이동
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 💎 Feature, 🐞 Bug

#140 [BE#122] SSL인증서 추가 httpOtions작성
  BE/src/main.ts
Labels: BE, ⚙️ Setting

#142 [iOS#108] 네트워크 레이어 구현
  .DS_Store
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerFinishRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerFinishResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerStartRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerStartResponseDTO.swift
  iOS/FlipMate/FlipMate/NetworkService/EndPoint.swift
  iOS/FlipMate/FlipMate/NetworkService/HTTPMethod.swift
  iOS/FlipMate/FlipMate/NetworkService/NetworkError.swift
  iOS/FlipMate/FlipMate/NetworkService/Provider.swift
  iOS/FlipMate/FlipMate/NetworkService/Requestable.swift
  iOS/FlipMate/FlipMate/NetworkService/Responsable.swift
  iOS/FlipMate/FlipMate/NetworkService/URLSessionable.swift
  iOS/FlipMate/FlipMate/PersistenceService/.gitkeep
  iOS/FlipMate/Podfile.lock
Labels: iOS, 💎 Feature

#146 [iOS/#143] 네트워크 계층 테스트 작성
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate.xcodeproj/xcshareddata/xcschemes/FlipMate.xcscheme
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerStartResponseDTO.swift
  iOS/FlipMate/FlipMateTests/FlipMateTests.swift
  iOS/FlipMate/FlipMateTests/NetworkServiceTests.swift
Labels: iOS, 🧨 Test

#153 [iOS#148] 네트워크 기능 개선
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerStartRequestDTO.swift
  iOS/FlipMate/FlipMate/NetworkService/BaseURL.swift
  iOS/FlipMate/FlipMate/NetworkService/EndPoint.swift
  iOS/FlipMate/FlipMate/NetworkService/HTTPHeader.swift
  iOS/FlipMate/FlipMate/NetworkService/Provider.swift
  iOS/FlipMate/FlipMate/NetworkService/Requestable.swift
Labels: iOS, 💎 Feature

#156 [BE#152] preproduction cd
  .github/workflows/be-pre-production-workflow.yaml
  BE/src/main.ts
Labels: BE, ⚙️ Setting

#158 [BE#152]cd pre production
  .github/workflows/be-pre-production-workflow.yaml
Labels: BE, 🐞 Bug

#162 [BE#161] 메인 브랜치 cd
  .github/workflows/be-main-workflow.yaml
Labels: BE, ⚙️ Setting

#167 [BE#163] api 유저 id 헤더 토큰으로 받도록 수정
  .github/workflows/be-main-workflow.yaml
  .github/workflows/be-pre-production-workflow.yaml
  BE/src/study-logs/dto/request/create-study-logs.dto.ts
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.module.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 🐞 Bug

#169 [BE#168] nickname 버그
  BE/src/auth/auth.service.ts
Labels: BE, 🐞 Bug

#171 [BE#170] user id기반으로 조회하도록 버그 수정
  BE/src/categories/categories.controller.ts
  BE/src/categories/categories.service.ts
  BE/src/categories/dto/response/category.dto.ts
  BE/src/study-logs/study-logs.entity.ts
Labels: BE, 🐞 Bug

#174 [BE#151] logger구현
  BE/package-lock.json
  BE/package.json
  BE/src/auth/auth.controller.ts
  BE/src/common/logging.config.ts
  BE/src/common/logging.interceptor.ts
  BE/src/main.ts
Labels: BE, 💎 Feature

#164 [iOS/#114] 카테고리 네트워킹
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Network/BaseComponents.swift
  iOS/FlipMate/FlipMate/Data/Network/CategoryEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/Category/CategoryRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/Category/CategoryResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/StatusResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultCategoryRepository.swift
  iOS/FlipMate/FlipMate/Domain/Entities/Category.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/CategoryRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultCategoryUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/CategoryUseCase.swift
  iOS/FlipMate/FlipMate/NetworkService/BaseURL.swift
  iOS/FlipMate/FlipMate/NetworkService/EndPoint.swift
  iOS/FlipMate/FlipMate/NetworkService/NetworkError.swift
  iOS/FlipMate/FlipMate/NetworkService/Provider.swift
  iOS/FlipMate/FlipMate/NetworkService/URLSessionable.swift
  iOS/FlipMate/FlipMateTests/NetworkServiceTests.swift
Labels: iOS, 💎 Feature

#154 [iOS#113] 카테고리 추가 / 수정 UI 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryColorSelectView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryTitleTextView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategoryModifyViewController.swift
Labels: iOS, 💎 Feature

#175 feat: 앱 아이콘 추가
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/AppIcon.appiconset/AppIcon.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: iOS, 💎 Feature

#173 [iOS#111] 타이머 네트워킹 로직 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Common/Logger/FlipMateLogger.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerFinishRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerFinishResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/TimerEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultTimerRepository.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/TimerRepsoitory.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultTimerUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/TimerUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/Date++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/TimerManager/TimerManager.swift
Labels: iOS, 💎 Feature

#179 [BE#178] 학습기록 groupby category
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.service.ts
  BE/src/categories/categories.controller.ts
  BE/src/common/utils.ts
  BE/src/study-logs/dto/request/create-study-logs.dto.ts
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.entity.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 💎 Feature

#183 [iOS#176] 타이머 화면 카테고리 및 사용자 정보 네트워킹 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Network/BaseComponents.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/StudyLogResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/MockURLSession.swift
  iOS/FlipMate/FlipMate/Data/Network/StudyLogEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Network/TimerEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultCategoryRepository.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultStudyLogRespository.swift
  iOS/FlipMate/FlipMate/Domain/Entities/Category.swift
  iOS/FlipMate/FlipMate/Domain/Entities/StudyLog.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/StudyLogRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultStudyLogUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/StudyLogUseCase.swift
  iOS/FlipMate/FlipMate/NetworkService/Requestable.swift
  iOS/FlipMate/FlipMate/Presentation/Mocks/StduyLogMock.swift
  iOS/FlipMate/FlipMate/Presentation/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Model/CategorySettingSection.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryListCollectionViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 💎 Feature

#185 [iOS#33] 구글 로그인
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Application/SceneDelegate.swift
  iOS/FlipMate/FlipMate/Data/Network/BaseComponents.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/LoginScene/GoogleAuthRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/LoginScene/GoogleAuthResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/GoogleAuthEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Persistants/KeyChainManager.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultStudyLogRepository.swift
  iOS/FlipMate/FlipMate/Data/Repositories/Utils/DefaultCategoryRepository.swift
  iOS/FlipMate/FlipMate/Data/Repositories/Utils/DefaultGoogleAuthRepository.swift
  iOS/FlipMate/FlipMate/Domain/Entities/User.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/GoogleAuthRepostiory.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultGoogleAuthUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/GoogleAuthUseCase.swift
  iOS/FlipMate/FlipMate/NetworkService/Requestable.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  iOS/FlipMate/FlipMate/Resources/Info.plist
  iOS/FlipMate/Podfile
Labels: iOS, 💎 Feature

#186 [iOS#184] 카테고리 선택 후 타이머 작동시 로직 구현
  iOS/FlipMate/FlipMate/Data/Network/BaseComponents.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerFinishRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerFinishResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerStartRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/TimerStartResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultTimerRepository.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/TimerRepsoitory.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultTimerUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/TimerUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Model/CategorySettingSection.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryListCollectionViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 💎 Feature

#187 [iOS/#130] 카테고리 추가 및 수정 기능 구현
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultCategoryRepository.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/CategoryRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultCategoryUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/CategoryUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryListCollectionViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategorySettingFooterView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryTitleTextView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategoryModifyViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/CategoryViewModel.swift
Labels: iOS, 💎 Feature

#191 [BE#190] 배포전 버그 수정들
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 🐞 Bug

#194 [BE#192] 특정 유저의 카테고리만 반환하도록 수정
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 🐞 Bug

#189 [iOS#188] keyChain 중복 저장 버그 수정
  iOS/FlipMate/FlipMate/Application/SceneDelegate.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/LoginViewModel.swift
Labels: iOS, 🐞 Bug

#196 [iOS/Hotfix] 3주차 배포 전 긴급 버그 수정
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/TimerScene/StudyLogResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultCategoryRepository.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryListCollectionViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/Podfile.lock
Labels: iOS, 🐞 Bug

#198 [iOS/hotfix] NotificationCenter remove 추가
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
Labels: iOS, 🐞 Bug

#207 [iOS#201] DI Conatiner 및 Coordinator 패턴 적용
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Application/AppFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/AppDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/CategoryDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/LoginDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TabBarDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TimerSceneDIContainer.swift
  iOS/FlipMate/FlipMate/Application/SceneDelegate.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultCategoryRepository.swift
  iOS/FlipMate/FlipMate/Data/Repositories/Utils/DefaultGoogleAuthRepository.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/Flows/LoginFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TabBar/Flows/TabBarFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TabBar/ViewController/TabBarViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Flows/CategorySettingCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Flows/TimerFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategorySettingFooterView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategoryModifyViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/CategoryViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
Labels: iOS, 🛠️ Refactor

#206 [iOS#205] 카테고리 색상 선택 기능 및 수정
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Extension/UIColor++Extension.swift
  iOS/FlipMate/FlipMate/Data/Extension/UITextField++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryColorSelectView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryTitleTextView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategoryModifyViewController.swift
Labels: iOS, 💎 Feature, 🛠️ Refactor

#219 [BE#200]이미지 유해성 검사 기능 추가
  BE/package-lock.json
  BE/package.json
  BE/src/users/interface/greeneye.interface.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#225 [BE#224] manyToOne에 onDelete 옵션 추가
  BE/src/categories/categories.entity.ts
  BE/src/study-logs/study-logs.entity.ts
Labels: BE, 🐞 Bug

#223 [BE#209] 친구 조회 추가 삭제
  BE/src/app.module.ts
  BE/src/mates/dto/response/mates.dto.ts
  BE/src/mates/dto/response/status-message.dto.ts
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.entity.ts
  BE/src/mates/mates.module.ts
  BE/src/mates/mates.service.spec.ts
  BE/src/mates/mates.service.ts
  BE/src/users/entity/users.entity.ts
Labels: BE, 💎 Feature

#222 [BE#210] 사용자 프로필 변경 및 조회
  BE/package-lock.json
  BE/package.json
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.ts
  BE/src/common/const/env-keys.const.ts
  BE/src/common/multer.config.ts
  BE/src/users/dto/create-user.dto.ts
  BE/src/users/dto/update-user.dto.ts
  BE/src/users/entity/users.entity.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#229 [BE/#228] 사라진 괄호 넣어주기
  BE/src/users/users.service.ts
Labels: BE, 🐞 Bug

#231 [iOS] 공부 저장 화면 UI 및 로직 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Application/DIContainer/AppDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/CategoryDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/LoginDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TabBarDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TimerSceneDIContainer.swift
  iOS/FlipMate/FlipMate/Application/SceneDelegate.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultTimerFinishUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultTimerUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/TimerFinishUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/TimerUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Flows/TimerFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerFinishViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerFinishViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/CategoryManager/CategoryManager.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Protocols/CategoryManagable.swift
Labels: iOS, 💎 Feature, 🛠️ Refactor

#216 [iOS/#139] 회원가입 뷰 UI 개선
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/SignUpViewController.swift
Labels: iOS, 💎 Feature

#226 [iOS#217] 카테고리 색상 연결 및 삭제, 수정 화면
  iOS/FlipMate/FlipMate/Data/Extension/UIColor++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Flows/CategorySettingCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryColorSelectView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategoryListCollectionViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/CategorySettingFooterView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategoryModifyViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategorySettingViewController.swift
Labels: iOS, 💎 Feature

#236 [BE#233] Logger 요청부터 응답까지의 시간 측정
  BE/src/app.module.ts
  BE/src/common/logging.interceptor.ts
  BE/src/common/logging.middleware.ts
Labels: BE, ⚙️ Setting

#235 [BE#232] 이미지 유해성 검사 url -> 이미지 데이터
  BE/src/users/users.controller.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#241 [BE#240] resizing filter 프로필 이미지
  BE/package-lock.json
  BE/package.json
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/google.strategy.ts
  BE/src/common/multer.config.ts
  BE/src/common/s3.service.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#244 [BE#123] 학습 시작/종료 분기 처리 및 redis 추가
  BE/package-lock.json
  BE/package.json
  BE/src/common/response.dto.ts
  BE/src/study-logs/study-logs.controller.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 💎 Feature

#245 [BE#124] 친구 상태 조회
  BE/src/common/redis.service.ts
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.module.ts
  BE/src/mates/mates.service.ts
  BE/src/study-logs/study-logs.module.ts
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 💎 Feature

#249 [BE#248] 닉네임 검색으로 프로필 이미지 url 응답
  BE/src/users/users.controller.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#250 [BE#배포] 닉네임 검색
  BE/src/users/users.controller.ts
  BE/src/users/users.service.ts
Labels: BE, Deployment

#252 [BE#251] 유저 프로필 URL로 응답하도록 수정
  BE/src/users/users.service.ts
Labels: BE, 🐞 Bug

#256 [BE#255] 이미지 null일때 분기처리
  BE/src/auth/auth.controller.ts
  BE/src/users/users.service.ts
Labels: BE, 🐞 Bug

#257 [iOS#hotfix] 타이머 시작 종료 DTO 수정
  iOS/FlipMate/FlipMate/Data/Network/TimerEndpoints.swift
Labels: iOS, 🐞 Bug

#254 [iOS#238] 친구 추가하기 화면 UI 구현
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Common/Color/FlipMateColor.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/Protocol/FreindAddResultViewProtocol.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/FriendSearchResultView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/MyNickNameView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/NoResultView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/FriendAddViewController.swift
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/Gray3.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/Gray5.colorset/Contents.json
Labels: iOS, 💎 Feature

#246 [iOS#242] 친구 상세 페이지 UI [수정]
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/SocialChartView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialDetailViewController.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/Date++Extension.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/Extensions/String++Extension.swift
  iOS/FlipMate/Podfile.lock
Labels: iOS, 💎 Feature

#260 [BE#259] Exception 로그, 프로필 변경시 닉네임 중복 예외
  BE/src/common/exception-filter/http-exception-filter.ts
  BE/src/main.ts
  BE/src/users/users.service.ts
Labels: BE, 🐞 Bug

#263 [BE#262] 이미지 변경에 대해 patch를 post로 변경
  BE/src/auth/auth.controller.ts
Labels: BE, 🐞 Bug

#267 [iOS] 친구 추가 비즈니스 로직 구현 및 테스트코드 작성
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate.xcodeproj/xcshareddata/xcschemes/FlipMateTests.xcscheme
  iOS/FlipMate/FlipMate/Common/Logger/FlipMateLogger.swift
  iOS/FlipMate/FlipMate/Data/Network/BaseComponents.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/SocialScene/FriendFollowReqeustDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/SocialScene/UserProfileResposeDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/FriendEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultFriendRepository.swift
  iOS/FlipMate/FlipMate/Domain/Entities/Friend.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/FriendRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultFriendUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/FriendUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/FriendSearchResultView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/MyNickNameView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/FriendAddViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/FriendAddViewModel.swift
  iOS/FlipMate/FlipMateUseCaseTests/Mock/MockFriendRepository.swift
  iOS/FlipMate/FlipMateUseCaseTests/SocialScene/FriendUseCaseTests.swift
  iOS/FlipMate/FlipMateViewModelTests/Mock/MockFriendUseCase.swift
  iOS/FlipMate/FlipMateViewModelTests/SocialScene/FriendAddViewModelTests.swift
Labels: iOS, 💎 Feature

#268 [iOS/#243] 소셜 친구 상세화면 로직(1)
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/SocialScene/SocialDetailRequestDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/SocialScene/SocialDetailResponseDTO.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialDetailViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialDetailViewModel.swift
Labels: iOS, 💎 Feature

#264 [iOS#220] 회원가입 뷰 비즈니스 로직 작성
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Common/Color/FlipMateColor.swift
  iOS/FlipMate/FlipMate/Data/Extension/Data++Extension.swift
  iOS/FlipMate/FlipMate/Data/Network/BaseComponents.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/LoginScene/NickNameValidationResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/LoginScene/SignUpResponseDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/DataMapping/StatusResponseWithErrorDTO.swift
  iOS/FlipMate/FlipMate/Data/Network/SignUpEndpoints.swift
  iOS/FlipMate/FlipMate/Data/Repositories/DefaultSignUpRepository.swift
  iOS/FlipMate/FlipMate/Domain/Repositories/SignUpRepository.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultSignUpUseCase.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/Protocol/SignUpUseCase.swift
  iOS/FlipMate/FlipMate/NetworkService/Provider.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/SignUpViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/SignUpViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/Utils/NickNameValidator/NickNameValidator.swift
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/DefaultProfileImage.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/DefaultProfileImage.imageset/DefaultProfileImage.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/ApproveGreen.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/FilpMateColor/WarningRed.colorset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/Group 135.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/Group 135.imageset/Group 135.svg
Labels: iOS, 💎 Feature

#270 [BE#269] 학습 기록이 없는 경우 학습 시간 0을 반환하도록
  BE/src/study-logs/study-logs.service.ts
Labels: BE, 🐞 Bug

#271 [iOS/HotFIx] 빌드 안되는 문제 긴급 해결
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/FriendsCollectionViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/Podfile.lock
Labels: iOS, 🐞 Bug

#274 [iOS#272] 자동로그인 구현
  iOS/FlipMate/FlipMate/Application/AppFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Application/SceneDelegate.swift
  iOS/FlipMate/FlipMate/Presentation/TabBar/Flows/TabBarFlowCoordinator.swift
Labels: iOS, 💎 Feature

#281 [iOS#273] 소셜 Scene Coordinator 통한 화면 전환
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Application/DIContainer/SocialDIContainer.swift
  iOS/FlipMate/FlipMate/Application/DIContainer/TabBarDIContainer.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/Flow/SocialFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/FriendAddViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/FriendAddViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewModel/SocialViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TabBar/Flows/TabBarFlowCoordinator.swift
  iOS/FlipMate/Podfile.lock
Labels: iOS, 💎 Feature

#280 [iOS#275] 회원가입 뷰 연결, 중복 닉네임 검사 로직 수정
  iOS/FlipMate/FlipMate/Application/DIContainer/LoginDIContainer.swift
  iOS/FlipMate/FlipMate/Domain/UseCases/DefaultSignUpUseCase.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/Flows/LoginFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewModel/SignUpViewModel.swift
  iOS/FlipMate/FlipMate/Presentation/TabBar/Flows/TabBarFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Flows/TimerFlowCoordinator.swift
Labels: iOS, 💎 Feature

#277 [BE/#276] entity에 class validator 추가
  BE/src/categories/categories.entity.ts
  BE/src/study-logs/study-logs.entity.ts
Labels: BE, 🛠️ Refactor

#282 [BE#214] categories create, getUserById 테스트 코드 작성
  BE/package.json
  BE/src/categories/categories.service.spec.ts
  BE/src/categories/categories.service.ts
  BE/src/common/logging.config.ts
  BE/src/common/multer.config.ts
  BE/src/common/s3.service.ts
  BE/src/common/utils.ts
  BE/src/mates/mates.service.ts
  BE/src/study-logs/study-logs.service.ts
  BE/src/users/users.service.ts
  BE/test/app.e2e-spec.ts
  BE/test/mock-table/categories.json
  BE/test/mock-table/mates.json
  BE/test/mock-table/redis-study-logs.json
  BE/test/mock-table/study-logs.json
  BE/test/mock-table/users.json
  BE/tsconfig.json
Labels: BE, 🧨 Test

#287 [BE#286] 회원가입 안되는 것 해결
  BE/src/auth/guard/bearer-token.guard.ts
  BE/src/users/users.service.ts
Labels: BE, 🐞 Bug

#288 [iOS/#285] 임시 로그아웃 버튼 생성 및 연결
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/MyPageViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
Labels: iOS, 💎 Feature
