Repository boostcampwm2023/iOS06-FlipMate, pull requests merged in 2024-01, with the labels that each got.

#472 [iOS/#464] 카테고리 추가/변경 규칙 설정
  iOS/FlipMate/FlipMate/Presentation/TimerScene/Flows/CategorySettingCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/CategoryModifyViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/CategoryModifyViewModel.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 🐞 Bug

#481 [iOS/#476] 버튼 다중 터치 버그 수정
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerFinishViewController.swift
Labels: iOS, 🐞 Bug

#483 [BE#475] 서비스 코드 리팩토링 및 테스트코드 수정
  BE/src/admin/admin.controller.spec.ts
  BE/src/auth/auth.controller.spec.ts
  BE/src/auth/auth.service.spec.ts
  BE/src/categories/categories.controller.spec.ts
  BE/src/categories/categories.service.ts
  BE/src/mates/mates.controller.spec.ts
  BE/src/mates/mates.service.spec.ts
  BE/src/mates/mates.service.ts
  BE/src/study-logs/study-logs.controller.spec.ts
  BE/src/study-logs/study-logs.service.spec.ts
  BE/src/study-logs/study-logs.service.ts
  BE/src/users/users.controller.spec.ts
  BE/src/users/users.service.spec.ts
  BE/test/mock-service/mock-redis-service.ts
  BE/test/mock-service/mock-study-logs-service.ts
  BE/test/mock-table/users.json
Labels: BE, 🛠️ Refactor, 🧨 Test

#473 [iOS#refactor] 다국어 대응 및 타이머 화면 로직 수정
  .DS_Store
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Presentation/ChartScene/View/CustomCalenderView.swift
  iOS/FlipMate/FlipMate/Presentation/ChartScene/ViewController/ChartViewController.swift
  iOS/FlipMate/FlipMate/Presentation/LoginScene/ViewController/LoginViewController.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/View/TimerHeaderView.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewController/TimerViewController.swift
  iOS/FlipMate/FlipMate/Presentation/TimerScene/ViewModel/TimerViewModel.swift
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 256.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 256@2x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 256@3x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 257@1x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 257@2x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction.imageset/Group 257@3x.png
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_EN.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_EN.imageset/Instruction_EN_Dark 1.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_EN.imageset/Instruction_EN_Dark 2.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_EN.imageset/Instruction_EN_Dark.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_EN.imageset/Instruction_EN_Light 1.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_EN.imageset/Instruction_EN_Light 2.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_EN.imageset/Instruction_EN_Light.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_JP.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_JP.imageset/Instruction_JP_Dark 1.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_JP.imageset/Instruction_JP_Dark 2.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_JP.imageset/Instruction_JP_Dark.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_JP.imageset/Instruction_JP_Light 1.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_JP.imageset/Instruction_JP_Light 2.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_JP.imageset/Instruction_JP_Light.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_KR.imageset/Contents.json
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_KR.imageset/Instruction_KR_Dark 1.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_KR.imageset/Instruction_KR_Dark 2.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_KR.imageset/Instruction_KR_Dark.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_KR.imageset/Instruction_KR_Light 3.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_KR.imageset/Instruction_KR_Light 4.svg
  iOS/FlipMate/FlipMate/Resources/Assets.xcassets/instruction_KR.imageset/Instruction_KR_Light 5.svg
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
  iOS/FlipMate/Podfile.lock
Labels: iOS, 💎 Feature, 🛠️ Refactor

#485 [iOS/#482] 마이페이지 완성
  iOS/FlipMate/FlipMate.xcodeproj/project.pbxproj
  iOS/FlipMate/FlipMate/Application/DIContainer/MyPageDIContainer.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/Flow/MyPageFlowCoordinator.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/View/MyPageTableViewCell.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/MyPageViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewController/PrivacyPolicyViewController.swift
  iOS/FlipMate/FlipMate/Presentation/MyPageScene/ViewModel/MyPageViewModel.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 💎 Feature

#488 [BE#487] 친구 고정 기능
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.entity.ts
  BE/src/mates/mates.service.spec.ts
  BE/src/mates/mates.service.ts
Labels: BE, 💎 Feature

#492 [BE#486] 팔로우 관련 api
  BE/src/auth/auth.controller.ts
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.service.spec.ts
  BE/src/mates/mates.service.ts
  BE/src/users/users.service.ts
Labels: BE, 💎 Feature

#490 [iOS/#489] 팔로워 확인을 위한 Social tap UI - HeaderView 변경
  iOS/FlipMate/FlipMate/Presentation/SocialScene/View/SocialUserInfoHeaderView.swift
  iOS/FlipMate/FlipMate/Presentation/SocialScene/ViewController/SocialViewController.swift
  iOS/FlipMate/FlipMate/Resources/en.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ja.lproj/Localizable.strings
  iOS/FlipMate/FlipMate/Resources/ko.lproj/Localizable.strings
Labels: iOS, 💎 Feature

#493 [BE#491] heartbeat가 없는 경우 학습 기록 자동 저장
  BE/src/heartbeat/heartbeat.module.ts
  BE/src/heartbeat/heartbeat.service.ts
  BE/src/mates/mates.service.ts
  BE/src/study-logs/dto/request/create-study-logs.dto.ts
  BE/src/study-logs/study-logs.entity.ts
  BE/src/study-logs/study-logs.service.ts
  BE/src/users/entity/users.entity.ts
Labels: BE, 💎 Feature

#504 [BE#501] 친구 목록 페이지네이션 추가
  BE/src/mates/mates.controller.ts
  BE/src/mates/mates.service.spec.ts
  BE/src/mates/mates.service.ts
Labels: BE, 💎 Feature
